.DS_Store
venv/
.idea/
__pycache__/
.vscode/
osmnx-examples/
cache/

# Ignore everything in data/
data*/
# ...except specific files in data/utils/
!data/utils/
!data/utils/ev_consumption_matrix.csv
!data/utils/ev_velocity_matrix.csv

assets/
gym/
graph_images/
plots/
dummy_file.py
data_cambridge/
results/training/
data_cambridge_full/
data_cambridge_medium/
data_cambridge_small/
other/
benchmarks/results/
benchmarks/results_*/
data_new/
/simulator/
gymnasium_env.egg-info/
results*
/results/
DuelingDQN.py
/benchmarks/csv_converter.py
/benchmarks/failures_comparison.csv
paper_viz/
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.pdf
*.log
*.sqlite
*.db
*.ckpt
*.h5
*.pth
*.npy
*.npz
*.zip
*.tar.gz
*.egg-info/
*.pt
